body {
<<<<<<< HEAD
	background-color: yellow;
	border-top: 5px solid blue;
	border-bottom: 5px solid blue;
=======
<<<<<<< HEAD
	background-color: yellow;
	border-top: 5px solid blue;
	border-bottom: 5px solid blue;
=======
	border-top: 5px solid black;
	border-bottom: 5px solid black;
>>>>>>> 8a4a5d2b31342f02f4264ff5bf282ced226d64e7
>>>>>>> ec057169a8a47e34637bfa19b8f31d8353d8ffe5
	margin-top: 20px;
	margin-bottom: 40px;
	font-family: sans-serif;
	text-align: center;
}

a 	{
<<<<<<< HEAD
	color: blue;
=======
<<<<<<< HEAD
	color: blue;
=======
	color: black;
>>>>>>> 8a4a5d2b31342f02f4264ff5bf282ced226d64e7
>>>>>>> ec057169a8a47e34637bfa19b8f31d8353d8ffe5
}

p	{
	font-family: serif;
}

p	{
	font-family: sans-serif;
}

header nav {
	margin-top:	50px;
}

footer nav {
	margin-bottom: 40px;
}

h1 {
	margin-top:	10px;
}

h2 {
	font-size:	16px;
}

img {
	padding: 5px;
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> ec057169a8a47e34637bfa19b8f31d8353d8ffe5
	border:	solid blue;
}

hr {
    border-color:blue; 
    border-style:solid;
<<<<<<< HEAD
=======
=======
	border:	solid black;
>>>>>>> 8a4a5d2b31342f02f4264ff5bf282ced226d64e7
>>>>>>> ec057169a8a47e34637bfa19b8f31d8353d8ffe5
}